{% extends "layout.html" %}

{% block title %}
    History and Statistics
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Part</th>
                <th>Service</th>
                <th>Place</th>
                <th>Cost</th>
                <th>Note</th>
                <th>Date</th>
                <th>Mileague</th>
            </tr>
        </thead>
        <tbody>
                {% for point in all_data %}
                <tr>

                    <td>{{ point["part"] }}</td>
                    <td>{{ point["service"] }}</td>
                    <td>{{ point["place"] }}</td>
                    <td>{{ point["cost"] }}</td>
                    <td>{{ point["note"] }}</td>
                    <td>{{ point["date"] }}</td>
                    <td>{{ point["mileague"] }}</td>
                </tr>
                {% endfor %}

        </tbody>
    </table>
{% endblock %}